{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<!-- Business News  -->
<h3 class="text text-center text-primary">Business News Sources</h3>
    {{ macro.displaySourceList(business_sources)}}

<!-- Entertainment News  -->
<h3 class="text text-center text-primary">Entertainment News Sources</h3>
    {{ macro.displaySourceList(entertainment_sources)}}


 <!-- Health News  -->
<h3 class="text text-center text-primary">Health News Sources</h3>
{{ macro.displaySourceList(health_sources)}}


<!-- Technology News  -->
<h3 class="text text-center text-primary">Technology News Sources</h3>
    {{ macro.displaySourceList(technology_sources)}}

<!-- Sport News  -->
    <h3 class="text text-center text-primary">Sports News Sources</h3>
    {{ macro.displaySourceList(sports_sources)}}

{% endblock %}
